@model ProductDetailsViewModel

<!-- Section one placeholder for img start-->
<section class="sectionone">
    <div class="container">
        <div class="sectionone-content">
            <p class="infoimg">1920x300</p>
            <p class="infoshop">SHOP</p>
        </div>
    </div>
</section>
<!-- Section one placeholder for img end -->
<!-- Section two for products and add to cart start -->
<div class="product-grid">
    <div class="container">
        <div class="product-images">
            <img src="images/placeholders/gumshoesbig.png" alt="Product big">
            <div class="products-images-small">
                @if (Model.RelatedDetailsList != null)
                {
                    @foreach (var item in Model.RelatedDetailsList)     //Här kan jag använda mig av Take(4) också istället för i metoden direkt. I detta fall loopar jag ut samma cards men vill jag ha olika innehåll (discount,sale osv) kan jag tex. bygga olika modeller för olika sektioner och använda flaggor för vad jag vill visa (booleska värden - true or false) men även använda mig av tags. 
                    {
                        <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                    }

                }
            </div>
        </div>
        <div class="product-details">
            <p class="product-title">@Model.Name</p>
            <p class="product-description"> Product Description : @Model.Description </p>
            <div class="product-rating">
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
            </div>
            <p class="product-price">@Model.Price</p>
            <div class="product-quantity">
                <button>-</button>
                <span>1</span>
                <button>+</button>
                <button class="add-to-cart">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="product-section">
                <div class="product-colors">
                    <button class="btn btn-danger rounded-circle"></button>
                    <button class="btn btn-warning rounded-circle"></button>
                    <button class="btn btn-success rounded-circle"></button>
                    <p> SKU N/A</p>
                </div>
                <button class="wish">Add to wishlist</button>
                <div class="small-description"> Category: @Model.Category.Name</div>
            </div>
        </div>
    </div>
</div>
<!-- Section two for products and add to cart end  -->
<!-- Section three, row with 4 buttons for info tabs start -->
<div class="info-buttons">
    <div class="container">
        <button class="buttonrow">DESCRIPTION</button>
        <button class="buttonrow">ADDITIONAL INFO</button>
        <button class="buttonrow">REVIEWS (0)</button>
        <button class="buttonrow">SHIPPING &amp; DELIVERY</button>
    </div>
</div>
<!-- Section three for row with 4 buttons for info tabs end -->
<!-- Section four info and image section start-->
<div class="showcasefour">
    <div class="container">
        <div class="left-side">
            <h2 class="title">Nice fashion for great value, great prices and awesome quality.</h2>
            <div class="textleft">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum,lorem ipso habejfnnfasnsancncnkvdsvvvds<br>
                    jnsjncjncjancajsncsnjjsncscnsncjscns jasjnandncnancsjnsajncsjsancjsnnsjcn<br>
                    cskmcskmcsmckscsk, jksajfkfnajncajsncjdnkascnanascnas
                </p>
                <p>lorem ipsum lorem ipsum lorem ipsum, fafasdkajdalkdaskldksadn<br>nsnckacacnaskncaksncskncakscnkc</p>
                <br>
                <p>lorem ipsum lorem ipsum lorem ipsumvsdvdssvsvsv nsancanascncn<br>jnsjnajncjnjsancjsncjsancjscnsncsajnjn</p>
                <p>
                    lorem ipsum lorem ipsum lorem ipsum, lorem ipsum lorem ipsum lorem ipsumvdsvdsvds<br>
                    fsafancajncajsnckjasncsjcnjcnj fsknkancskanckascnkanckancknkanc, bjsjbcjsacjascjascajsncsancncjzncjnzcjncx,nsjcanjcjbcjscbjcjscbb<br>
                    haisdasakncsancasncanc, knsfksnkcnksncaksnckasncknckanc fsafancajncajsnckjasncsjcnjcnj fsknkancskanckascnkanckancknkanc,
                    bjsjbcjsacjascjascajsncsancncjzncjnzcjncx,nsjcanjcjbcjscbjcjscbb
                </p>
            </div>
        </div>
        <div class="right-side">
            <img src="images/placeholders/pexels-photo-1070360-1.jpeg" alt="Imageright">
        </div>
    </div>
</div>
<!-- Section four info and image section end -->
<!-- Section five image section display start-->

<section class="imagedisplay">
    <div class="container">
        <h1 class="display-title">Related Products</h1>
        <div class="display-grid">
            @if (Model.RelatedDetailsList != null)
            {
                @foreach (var item in Model.RelatedDetailsList) //Här kan jag använda mig av Take(4) också istället för i metoden direkt.
                {
                    <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                }
                
            }
        </div>
    </div>
</section>

<!-- Section five image section display end -->
<!-- Section six imagedisplay-end section start -->
<section class="imagedisplay-end">
    <div class="container">
        <div class="display-end-grid">
            <img src="images/placeholders/minimalbeige.png" alt="">
            <img src="images/placeholders/minimaldesign.png" alt="">
            <img src="images/placeholders/minimalbeige.png" alt="">
            <img src="images/placeholders/woocolcon.png" alt="">
            <img src="images/placeholders/atalatatony.png" alt="">
        </div>
    </div>
</section>

@* //Om jag vill bygga om till att mata ut 5stk cards här i sista sektionen istället kan jag använda koden nedan och ändra i controllern till en mer allmän metod än för fyra som jag byggt: 

<section class="imagedisplay-end">
    <div class="container">
        <div class="display-end-grid">
            @if (Model.RelatedDetailsList != null)
            {
                @foreach (var item in Model.RelatedDetailsList.Take(5))
                {
                    <img src="@item.ImageUrl" alt="">
                }
            }
        </div>
    </div>
</section>*@

<!-- section six image section imagedisplay-end, end -->

